<h1>Lista de productos</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Raiting</th>
            <th>Talla</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{@index}}</td>
            <td>{{ name }}</td>
            <td>{{ price }}</td>
            <td>{{ rating }}</td>
            <td>{{ talla }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>