<section class="store">

    <section class="store__top">

        <section class="store__top-one">
            <article>
                <h1 class="indivi__header">Buy Now</h1>
            </article>
            <article>
                <a class="header__btn" href="/shopping">
                    {{!-- TINES QUE CAMBIARRRRRRR ESTE ICONO --}}
                    <img src="/images/ui/tienda.png" alt=""></a>
                </a>
                <a class="header__bag" href="/shopping">
                    <h1>{{cartSize}}</h1>
                </a>
            </article>
        </section>
        {{!-- //----------------------SECCION DE BOTONES------------------------------// --}}
        <section class="store__top-two">
            <h2 class="indivi__header">Filters</h2>
            <section class="store__top-two__filter">
                <a href="/store/brand/Pleasures" class="filter__list">Pleasures</a>
                <a href="/store/brand/Sugar Thrillz" class="filter__list">Sugar Thrillz</a>
                <a href="/store/brand/Current Mood" class="filter__list">Current Mood</a>
                <a href="/store/brand/HOROSCOPEZ" class="filter__list">Horoscopez</a>

                <article class="filters__colors">

                    <a href="/store/color/BLACK">
                        <div class="filters__item" style=" background-color: rgb(5, 5, 5)"></div>
                    </a>
                    <a href="/store/color/WHITE">
                        <div class="filters__item" style=" background-color: #E8E8E8"></div>
                    </a>
                    <a href="/store/color/YELLOW">
                        <div class="filters__item" style=" background-color: rgb(243, 239, 20)"></div>
                    </a>
                    <a href="/store/color/Blue">
                        <div class="filters__item" style=" background-color: #053cc5"></div>
                    </a>
                    <a href="/store/color/GREEN">
                        <div class="filters__item" style=" background-color: rgb(45, 167, 56)"></div>
                    </a>
                    <a href="/store/color/PINK">
                        <div class="filters__item" style=" background-color: rgb(241, 145, 204)"></div>
                    </a>
                </article>
            </section>
            <section class="store__top-two__sort">
                <h2 class="indivi__header">Sort</h2>
                <a href="/store/sort/priceL" class="filter__list">Sort Hight-Low</a>
                <a href="/store/sort/priceH" class="filter__list">Sort Low-Hight</a>
                <a href="/store/sort/rating" class="filter__list">Raiting</a>
                <a href="/store/sort/size" class="filter__list">Size</a>

            </section>
        </section>

    </section>
    {{!-- //----------------------SECCION DE FILTRO------------------------------// --}}
    <section class="store__filter">
        <h1>Filter by:</h1>
        <article class="filters__type">
            <h2>Type:</h2>
            <a href="/store/type/Jordan" class="filter__list">JORDAN</a>
            <a href="/store/type/Skate" class="filter__list">SKATE</a>
            <a href="/store/type/Basketball" class="filter__list">BASKETBALL</a>
        </article>
        <h2>Colors:</h2>

    </section>
    {{!-- //----------------------SECCION DE ORDENAR------------------------------// --}}
    <section class="store__sort">
        <h2>Price:</h2>
        <a href="/store/sort/priceH" class="filter__list"> Hight-Low</a>
        <h2>Price:</h2>
        <a href="/store/sort/priceL" class="filter__list"> Low-Hight</a>
        <h2>Size:</h2>
        <a href="/store/sort/size" class="filter__list">SIZE</a>
    </section>


    <section class="store__all">
        {{!-- //----------------------SECCION DE PRODUCTOS------------------------------// --}}
        {{#each productsList}}
        <div class="product__individual">
            <a href="/store/{{this.name}}" class="product">
                <!-- Detalles del producto -->

                {{!-- Imagen del producto --}}
                <section class="product__image">
                    <img src="/images/{{this.images.[0]}}">
                </section>

                {{!-- Informacion del producto  --}}
                <section class="product__top">

                    <article class="top__right">
                        <h2 class="product__header"> {{this.name}}</h1>
                            <h1 class="product__text"> {{this.category}}
                        </h2>
                        <h1 class="product__text">{{this.price}}</h1>
                        <h1 class="product__text">{{this.brand}}</h1>
                        <h1 class="product__text">{{this.detailOne}}</h1>
                    </article>

                </section>
            </a>
            <a class="store__bag" data-name="{{this._id}}" href="">
                <p>Buy!</p>
            </a>
        </div>

        {{/each}}
    </section>
</section>